n8n-workflows/customer_support.json
[
  {
    "updatedAt": "2026-01-26T11:31:06.550Z",
    "createdAt": "2026-01-26T09:36:07.511Z",
    "id": "workflow-id-customer-support",
    "name": "customer-support",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": { "item": [{ "mode": "everyMinute" }] },
          "simple": false,
          "filters": { "q": "subject:\"問い合わせ\"" },
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [-1200, -224],
        "id": "node-gmail-trigger",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": { "id": "gmail-cred-id", "name": "Gmail account" }
        }
      },
      {
        "parameters": {
          "text": "={{ $json.text }}",
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [],\n  \"properties\": {\n    \"category\": { \"type\": \"string\", \"enum\": [\"technical\", \"billing\", \"sales\", \"returns\", \"general\"] },\n    \"urgency\": { \"type\": \"string\", \"enum\": [\"low\", \"medium\", \"high\", \"critical\"] },\n    \"sentiment\": { \"type\": \"string\", \"enum\": [\"positive\", \"neutral\", \"negative\", \"very_negative\"] },\n    \"keywords\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"productIdentifiers\": { \"type\": \"array\", \"items\": { \"type\": \"object\", \"properties\": { \"type\": { \"type\": \"string\", \"enum\": [\"model\", \"serial\", \"part\"] }, \"value\": { \"type\": \"string\" } } } }\n  }\n}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [-976, -224],
        "id": "node-info-extractor",
        "name": "Information Extractor"
      },
      {
        "parameters": { "options": {} },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [-912, 0],
        "id": "node-gemini-model-1",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": { "id": "gemini-cred-id", "name": "Google Gemini Api account" }
        }
      },
      {
        "parameters": {
          "content": "以下Information ExtratorはUdemy講座の構成を参考に、AIに情報を抽出させている",
          "height": 320,
          "width": 256
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [-992, -384],
        "typeVersion": 1,
        "id": "note-1",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "SPREADSHEET_ID_DUMMY",
            "mode": "list"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [-592, -224],
        "id": "node-google-sheets",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": { "id": "sheets-cred-id", "name": "Google Sheets account" }
        }
      },
      {
        "parameters": { "aggregate": "aggregateAllItemData", "options": {} },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [-448, -224],
        "id": "node-aggregate",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "DRIVE_FILE_ID_DUMMY",
            "mode": "list"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [-256, -224],
        "id": "node-google-drive",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": { "id": "drive-cred-id", "name": "Google Drive account" }
        }
      },
      {
        "parameters": { "operation": "pdf", "options": {} },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [-96, -224],
        "id": "node-extract-file",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=ユーザーからの情報\n{{ JSON.stringify($('Information Extractor').item.json.output) }}\n\n参考情報1：製品マニュアル\n{{ $node[\"Extract from File\"].json[\"text\"] }}\n\n参考情報2：過去の類似問い合わせ・回答事例\n{{ $('Aggregate').item.json.data.map(i => JSON.stringify(i)).join('\\n') }}\n\n知識源を元に回答を作成してください。",
          "messages": {
            "messageValues": [
              {
                "message": "=あなたはカスタマーサポートの専門AIアシスタントです。提供された「マニュアル情報」と「過去の類似回答」を参考に、正確かつ丁寧な回答を生成してください。"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [112, -224],
        "id": "node-llm-chain",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "sendTo": "your-email@example.com",
          "subject": "カスタマーサポート 応答メール承認依頼",
          "message": "=お客様からの問い合わせ内容: {{ $node[\"Gmail Trigger\"].json[\"text\"] }}\nAIの回答案: {{ $json.text }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "承認",
              "disapproveLabel": "却下"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [464, -224],
        "id": "node-gmail-wait",
        "name": "Send message and wait for response",
        "webhookId": "webhook-id-dummy",
        "credentials": {
          "gmailOAuth2": { "id": "gmail-cred-id", "name": "Gmail account" }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
          "subject": "お問い合わせいただいた件について",
          "emailType":"text",
          "message": "={{ $('Basic LLM Chain').item.json.text }}",
          "options": { "appendAttribution": false }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [672, -224],
        "id": "node-gmail-send",
        "name": "Send a message",
        "webhookId": "webhook-id-dummy-2",
        "credentials": {
          "gmailOAuth2": { "id": "gmail-cred-id", "name": "Gmail account" }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": { "main": [[{ "node": "Information Extractor", "type": "main", "index": 0 }]] },
      "Google Gemini Chat Model": { "ai_languageModel": [[{ "node": "Information Extractor", "type": "ai_languageModel", "index": 0 }]] },
      "Information Extractor": { "main": [[{ "node": "Get row(s) in sheet", "type": "main", "index": 0 }]] },
      "Get row(s) in sheet": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
      "Aggregate": { "main": [[{ "node": "Download file", "type": "main", "index": 0 }]] },
      "Download file": { "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]] },
      "Extract from File": { "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]] },
      "Basic LLM Chain": { "main": [[{ "node": "Send message and wait for response", "type": "main", "index": 0 }]] },
      "Send message and wait for response": { "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]] }
    },
    "settings": { "executionOrder": "v1" },
    "meta": { "templateCredsSetupCompleted": true },
    "shared": [
      {
        "role": "workflow:owner",
        "workflowId": "workflow-id-customer-support",
        "projectId": "project-id-dummy",
        "project": {
          "id": "project-id-dummy",
          "name": "User Name <your-email@example.com>",
          "type": "personal"
        }
      }
    ]
  }
]