n8n-workflows/mail-for-purchase-info.json
[{"updatedAt":"2026-01-19T15:53:38.099Z","createdAt":"2026-01-19T14:27:08.552Z","id":"cv0hyWqDhd_Emxp1ld-NL","name":"Mail for PurchaseInfo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"https://airtable.com/XXXXXXXXXXXXXXXXXXXXX","mode":"url"},"tableId":{"__rl":true,"value":"https://airtable.com/XXXXXXXXXXXXXXXXXXXXX","mode":"url"},"triggerField":"No","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-336,-112],"id":"c8c6ea3f-48a1-4780-98af-67d72d6d50ab","name":"Airtable Trigger","credentials":{"airtableTokenApi":{"id":"OVXf3r3i2Lqp7gjw","name":"Airtable Personal Access Token account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"responses":{"values":[{"role":"system","content":"=あなたは事務担当者のアシスタント AI です。\n\n以下の内容を基に、受注情報を作成し、メールを送信してください。\n\n【受注情報】\n\nNo：{{ $json.fields.No }}\n\nProduct：{{ $json.fields.Product }}\n\nCustomer：{{ $json.fields.Customer }}\n\nQuinantity：{{ $json.fields.Quantity }}\n\nStatus：{{ $json.fields.Status }}\n\n【メールについて】\n\n- 件名、本文は日本語で書くこと。\n\n- 受注情報を記載すること。\n\n- 冒頭に簡単な挨拶文を 1～2 行入れること。\n\n- 最後にカスタマーサクセスの署名をいれること。\n\n- 最後に一文の締めの挨拶を書くこと。\n\n【出力形式】\n必ず以下のJSON形式のみを出力してください。余計な解説文は一切不要です。\n{\n  \"mail_subject\": \"ここに件名\",\n  \"mail_contents\": \"ここに本文\"\n}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mail_subject\": {\n      \"type\": \"string\"\n    },\n    \"mail_contents\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"mail_subject\",\n    \"mail_contents\"\n  ],\n  \"additionalProperties\": false\n}"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-128,-112],"id":"10cf9c35-829d-4cfb-96fe-a77d09bbc0ef","name":"Message a model","alwaysOutputData":true,"credentials":{"openAiApi":{"id":"DVAeiIqbhfxukUhi","name":"OpenAi account"}}},{"parameters":{"sendTo":"YOUR_EMAIL@example.com","subject":"={{ $json.output[0].content[0].text.mail_subject }}","emailType":"text","message":"={{ $json.output[0].content[0].text.mail_contents }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,-112],"id":"7c5b9a92-6612-412e-934a-7bed9eb0f391","name":"Send a message","webhookId":"087e7937-948d-4e7b-b06e-e8b24f4c3b66","credentials":{"gmailOAuth2":{"id":"LjtdkYBBPanZorDb","name":"Gmail account"}}}],"connections":{"Airtable Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91981277-b931-45a9-870c-2d5ccad4b0bd","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-19T14:27:08.552Z","createdAt":"2026-01-19T14:27:08.552Z","role":"workflow:owner","workflowId":"cv0hyWqDhd_Emxp1ld-NL","projectId":"qJheauVsn3s3neJo","project":{"updatedAt":"2026-01-17T16:07:02.748Z","createdAt":"2026-01-17T15:30:19.747Z","id":"qJheauVsn3s3neJo","name":"Your Name <YOUR_EMAIL@example.com>","type":"personal","icon":null,"description":null,"creatorId":"c2e1285d-c129-4f07-b88a-fa35702a8d8d"}}]}]
