n8n-workflows/stock_recomend_info.json
[
  {
    "name": "Recommended Stock Info",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [-384, -48],
        "id": "trigger-001",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "query": "=日本株 明日の注目銘柄 買い予想 {{ $now.plus({ days: $now.weekday >= 5 ? (8 - $now.weekday) : 1 }).toFormat('yyyy-MM-dd') }}",
          "options": {
            "topic": "finance",
            "search_depth": "advanced",
            "max_results": 15,
            "time_range": "week",
            "include_raw_content": true
          }
        },
        "type": "@tavily/n8n-nodes-tavily.tavily",
        "typeVersion": 1,
        "position": [-176, -48],
        "id": "tavily-search-001",
        "name": "Search",
        "credentials": {
          "tavilyApi": {
            "id": "dummy-tavily-credential-id",
            "name": "Tavily account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=あなたはプロの証券アナリストです。\n提供された検索データ（Tavily出力）を分析し、翌営業日に注目すべき日本株を5つ厳選してレポートを作成してください。\n\n### 検索データ\n{{ JSON.stringify($json.results) }}\n\n### 出力形式（重要：Slack記法を厳守すること）\n1. 各セクションの見出しは *太字* （アスタリスク1つで囲む）にしてください（例： *【6501】日立製作所* ）。\n2. 一般的なMarkdown（# や **）は絶対に使用しないでください。\n3. リストは「•」や「-」を使用してください。\n4. URLを記載する場合は <URL|タイトル> の形式にしてください。\n\n### 出力指示\n1. 【銘柄名（証券コード）】\n2. 【選定理由】（なぜ明日注目なのか、ポジティブな材料やテクニカルな視点を簡潔に）\n3. 【現在の状況】（株価のトレンドや最新のニュース）\n上記3点を1銘柄ずつ記載してください。\n\n### レポートの構成\n• 冒頭：投資のヒントとなる情報をお届けします。\n• 各銘柄：\n  - *【銘柄名（証券コード）】*\n  - 選定理由：なぜ明日注目なのか\n  - 現在の状況：トレンドや最新ニュース\n• 結び：最後に必ず「本情報は投資の勧誘を目的としたものではなく、最終的な決定はご自身の判断で行ってください」という免責事項を記載してください。\n\n### 制約事項\n- 検索結果に具体的な銘柄がない場合は、「現在、明示的な推奨銘柄が見当たりません」と報告し、代わりに市場全体の概況をまとめてください。\n- 日本語で出力してください。",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [32, -48],
        "id": "ai-chain-001",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [-48, 160],
        "id": "gemini-model-001",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "dummy-gemini-credential-id",
            "name": "Google Gemini Api account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "CHANNEL_ID_HERE",
            "mode": "id"
          },
          "text": "={{ $json.text }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [384, -32],
        "id": "slack-out-001",
        "name": "Send a message",
        "webhookId": "dummy-webhook-id",
        "credentials": {
          "slackApi": {
            "id": "dummy-slack-credential-id",
            "name": "Slack account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [[{ "node": "Search", "type": "main", "index": 0 }]]
      },
      "Search": {
        "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
      },
      "Basic LLM Chain": {
        "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
      }
    }
  }
]