n8n-workflows/stock_recomend_info.json
[
  {
    "updatedAt": "2026-01-26T12:40:06.193Z",
    "createdAt": "2026-01-25T13:52:21.872Z",
    "id": "workflow-id-dummy",
    "name": "Recomend Stock Info",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [-384, -48],
        "id": "node-id-1",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "query": "=日本株 明日の注目銘柄 買い予想 {{ $now.plus({ days: $now.weekday >= 5 ? (8 - $now.weekday) : 1 }).toFormat('yyyy-MM-dd') }}",
          "options": {
            "topic": "finance",
            "search_depth": "advanced",
            "max_results": 15,
            "time_range": "week",
            "include_raw_content": true
          }
        },
        "type": "@tavily/n8n-nodes-tavily.tavily",
        "typeVersion": 1,
        "position": [-160, -48],
        "id": "node-id-2",
        "name": "Search",
        "credentials": {
          "tavilyApi": {
            "id": "tavily-cred-id-dummy",
            "name": "Tavily account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=以下の検索データを分析し、レポートを作成してください。\n\n検索データ\n{{ JSON.stringify($json.results) }}",
          "messages": {
            "messageValues": [
              {
                "message": "=あなたはプロの証券アナリストです。 提供された検索結果を分析し、翌営業日に注目すべき日本株を5つ厳選してメール用のレポートを作成してください。\n\n# 出力形式（重要：Slack記法を厳守すること）\n- 各セクションの見出しは 太字 （アスタリスク1つで囲む）にしてください。\n- 一般的なMarkdown（# や **）は絶対に使用しないでください。\n- リストは「•」や「-」を使用してください。\n- URLを記載する場合は <URL|タイトル> の形式にしてください。\n\n# メールの構成\n件名：【自動配信】明日の注目銘柄 5選 調査結果\n\n冒頭：投資のヒントとなる情報をお届けします。\n\n各銘柄の項目：【銘柄名（証券コード）】【選定理由】【現在の状況】の3点。\n\n結び：最後に必ず「本情報は投資の勧誘を目的としたものではなく、最終的な決定はご自身の判断で行ってください」という免責事項を記載。\n\n\n# 制約事項\n- 検索結果に具体的な銘柄がない場合は、「現在、明示的な推奨銘柄が見当たりません」と報告し、市場全体の概況をまとめること。\n- 日本語で出力すること。"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [64, -48],
        "id": "node-id-3",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [136, 176],
        "id": "node-id-4",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "gemini-cred-id-dummy",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "CXXXXXXXXXX",
            "mode": "id"
          },
          "text": "={{ $('Basic LLM Chain').item.json.text }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [640, -48],
        "id": "node-id-5",
        "name": "Send a message",
        "webhookId": "webhook-id-1",
        "credentials": {
          "slackApi": {
            "id": "slack-cred-id-dummy",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "user": {
            "__rl": true,
            "value": "UXXXXXXXXXX",
            "mode": "id"
          },
          "message": "=以下内容を自動生成しました。内容をご確認いただき、承認もしくは却下を押してください\n\n内容\n {{ $json.text }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "承認",
              "disapproveLabel": "却下"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [416, -48],
        "id": "node-id-6",
        "name": "Send message and wait for response",
        "webhookId": "webhook-id-2",
        "credentials": {
          "slackApi": {
            "id": "slack-cred-id-dummy",
            "name": "Slack account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [[{ "node": "Search", "type": "main", "index": 0 }]]
      },
      "Search": {
        "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [{ "node": "Send message and wait for response", "type": "main", "index": 0 }]
        ]
      },
      "Send message and wait for response": {
        "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "version-id-dummy",
    "activeVersionId": null,
    "versionCounter": 6,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-01-25T13:52:21.872Z",
        "createdAt": "2026-01-25T13:52:21.872Z",
        "role": "workflow:owner",
        "workflowId": "workflow-id-dummy",
        "projectId": "project-id-dummy",
        "project": {
          "updatedAt": "2026-01-17T16:07:02.748Z",
          "createdAt": "2026-01-17T15:30:19.747Z",
          "id": "project-id-dummy",
          "name": "Your Name <your-email@example.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "creator-id-dummy"
        }
      }
    ]
  }
]